
/* # Table of Contents

/* Boostrap Variables
 UnComment if using bootstrap.
 and you need access to bootstrap variables early on.
 Override anything you need in the vars.scss file.
-----------------------------------------------------------*/
/* @import "supporting/bootstrap/variables.scss */


/* Variables
NOTE: to override bootstrap vars, don't include the !default when assigning values.
------------------------------------------------------------ */
@import "supporting/vars";


@import "supporting/mixin";


/*Genesis css
----------------------------------------------------------- */
@import "supporting/genesis";

/* Responsive Nav
----------------------------------------------------------- */
@import "supporting/nav_responsive";

/* Sticky Nav
------------------------------------------------------------ */
@import "supporting/nav-sticky";

/* Slidout
----------------------------------------------------------- */
@import "../../node_modules/slideout/index";


/* Bootstrap css
NOTE: if you changed anything that is used in other variables (like grid), you will want to load the bootstrap/variables.scss file
again as now it will have your overrides from the vars.scss file.
------------------------------------------------------------
@import "supporting/bootstrap";
*/

/* TESTING */
/*
.test {
  font-size: to-em(16px);
  font-size: to-em(32px);
  font-size: to-em(20px, 20px);
  color: rgba( #ffffff, 0.74);
}*/

