/* Fonts
--------------------------------------------- */

/*
@font-face {
  font-family: 'mb_empire_bookregular';
  src: url('../fonts/m-b_creative_-_mbempire-book-webfont.woff2') format('woff2'),
  url('../fonts/m-b_creative_-_mbempire-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
*/

/* ## Typographical Elements
--------------------------------------------- */

html {
  font-size: 62.5%; /* 10px browser default */
}

/* Chrome fix */
body > div {
  font-size: 1.8rem;
}

body {
  background-color: #fff;
  color: #333;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.625;
  margin: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

a {
  color: #c3251d;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #333;
  text-decoration: none;
}

p {
  margin: 0 0 28px;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

hr {
  border: 0;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  clear: both;
  margin: 1em 0;
}

b,
strong {
  font-weight: 700;
}

blockquote,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 40px;
}

blockquote::before {
  content: "\201C";
  display: block;
  font-size: 30px;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px;
}
