
/* # Content Area
---------------------------------------------------------------------------------------------------- */

/* ## Entries
--------------------------------------------- */

.entry {
  margin-bottom: 60px;
}

.entry-content ol,
.entry-content ul {
  margin-bottom: 28px;
  margin-left: 40px;
}

.entry-content ol > li {
  list-style-type: decimal;
}

.entry-content ul > li {
  list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}

.entry-content code {
  background-color: #333;
  color: #ddd;
}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 0;
}

.entry-header .entry-meta {
  margin-bottom: 24px;
}

.entry-categories,
.entry-tags {
  display: block;
}

.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px;
}

/* ## Pagination
--------------------------------------------- */

.pagination {
  clear: both;
  margin: 40px 0;
}

.pagination li {
  display: inline;
}

.pagination li a {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  padding-right: 10px;
  text-decoration: none;
}

.pagination .active a {
  color: #333;
}

/* ## Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
  margin-bottom: 60px;
}

.comment-header {
  font-size: 16px;
  font-size: 1.6rem;
}

.comment-content {
  clear: both;
  word-wrap: break-word;
}

.comment-list li {
  padding: 32px 0 0 32px;
}

.comment-list li.depth-1 {
  padding-left: 0;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%;
}

.comment-respond label {
  display: block;
  margin-right: 12px;
}

.entry-comments .comment-author {
  margin-bottom: 0;
}

.entry-pings .reply {
  display: none;
}
