
.home {

  // Removing elements not shown and padding not needed
  .site-header {
    display:none;
  }

  .site-inner {
    padding-top: 0;
    background: #fff;

    &:before {
      content: none;
    }
  }

  .entry-title {
    display: none;
  }

  .site-inner .wrap {
    padding: 0 0;
    width: 100%;
    max-width: none;
  }
}
.front-grid {
  display: flex;
  align-items: stretch;
  padding: 40px 0 0 30px;
  color: #fff;
  h1 {
    font-size: 36px;
    font-size: 3.6rem;
  }
  h2 {
    font-size: 22px;
    font-size: 2.2rem;
    font-weight: bold;
  }

  div {
    font-size: 0;
    line-height: 0;
  }
}

.front-grid--informational .front-grid--cell {
   position: relative;

  & > div {
    position: absolute;
    top: 50%;
    left: 30px;
    right: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    font-size: 2.0rem;
    line-height: 1.2;
  }
  p {
    margin: 0 0 1rem;
  }
}
.front-grid--small-portraits, .front-grid--wide-portraits {

  img {
    min-width: 100%;
  }
}

.front-grid--first-row{

  & > .col-md-4 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

}
 .front-grid--small-portraits.top > div, .front-grid--wide-portraits.top > div {
  padding-bottom: 3.065%;

}

.front-grid--small-portraits.bottom > div, .front-grid--wide-portraits.bottom > div {
  padding-top: 3.065%;

}

.front-grid--small-portraits > div:first-child {
  padding-left: 0;
  padding-right: 3.065%;
}
.front-grid--small-portraits > div:last-child {
  padding-left: 3.065%;
  padding-right: 0;
}

.front-grid--wide-portraits > div {
  padding-left: 0;
  padding-right: 0;
}
.front-grid--vert-small-portraits img {
  min-width: 100%;
}
.front-grid--vert-small-portraits div:first-child {
  padding-bottom: 15px;
}
.front-grid--vert-small-portraits div:last-child, .front-grid--portfolio {
  padding-top: 15px;
}


/*.front-grid--small-portraits, .front-grid--wide-portraits, */.front-grid--title, .front-grid--portfolio {
  height: 50%;
}

.front-grid--square {
  position: relative;
  height: 0;
  padding-top: 100%;

}
.front-grid--content {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.front-grid--informational-square .front-grid--cell {
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.front-grid--menu {
  margin-top: -55px;
  background-color: $color_blue;
  background-clip: content-box;
}



.front-grid--portfolio > div {

  & > div {
    padding: 15px 15px 0 15px;
    font-family: $font-mbempire_thin;
    font-size: 14px;
    font-size: 1.4rem;

    h1 {
      font-family: $font_mbempire_bold;
      font-size: 32px;
      font-size: 3.2rem;
      margin: 0;
      line-height: 1.2;
    }
    h2 {
      font-family: $font-mbempire_thin;
      font-size: 24px;
      font-size: 2.4rem;
      font-weight: normal;
      margin: 0;
      line-height: 1.8;
    }
    p {
      font-size: 17px;
      font-size: 1.7rem;
      font-weight: normal;
      color: #fff;
      line-height: 1.8;
      margin-bottom: 5px;
    }
  }
}
.front-grid--informational-square .front-grid--cell {

  > div {
    font-size: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  h1 {
    font-size: 36px;
    font-size: 3.6em;
  }
  h2 {
    font-size: 22px;
    font-size: 2.2em;
  }

  p {
    font-size: 17px;
    font-size: 1.7em;
    font-weight: bold;
    color: #fff;
    line-height: 1.8;
    margin-bottom: 1em;
  }
}

.front-grid--under-title {

  margin-left: 0;
  margin-right: 0;
  height: 50%;
  height: calc(50% + 15px);
  color: #fff;

  & > div {
    height: 100%;
  }

  img {
    margin: 0 auto 10px;
  }
}


@media (max-width: $screen-md-min) {
  .front-grid {
    display: block;
  }
  .front-grid--first-row {

    & > div {
      padding: 0;
    }

  }
  .front-grid--small-portraits.top > div, .front-grid--wide-portraits.top > div {
    padding-bottom: 0;

  }

  .front-grid--small-portraits.bottom > div, .front-grid--wide-portraits.bottom > div {
    padding-top: 0;

  }

  .front-grid--small-portraits > div:first-child {
    padding-left: 0;
    padding-right: 0;
  }
  .front-grid--small-portraits > div:last-child {
    padding-left: 0;
    padding-right: 0;
  }

  .front-grid--wide-portraits > div {
    padding-left: 0;
    padding-right: 0;
  }

  .front-grid--vert-small-portraits div:first-child {
    padding-bottom: 0;
  }
  .front-grid--vert-small-portraits div:last-child, .front-grid--portfolio {
    padding-top: 0;
  }
  .front-grid--first-row > .col-md-4 {
    padding:0;
  }

}

@media (max-width: 1290px) {
  // For informational squares;
  .front-grid--informational-square .front-grid--cell {

    > div {
      font-size: 8px;
    }
  }
}

@media (max-width: $screen-md-min) {
  // For informational squares;
  .front-grid--informational-square .front-grid--cell {

    > div {
      font-size: 10px;
    }
  }
}

@media (max-width: 730px) {
  // For informational squares;
  .front-grid--informational-square .front-grid--cell {

    > div {
      font-size: 5px;
    }
  }
}
  @media (max-width: $screen-sm-min) {
    // For informational squares;
    .front-grid--informational-square .front-grid--cell {

      > div {
        font-size: 10px;
      }
    }
  }
  /* Front page NAV
  -------------------------------------------------------------- */

  .home {

    .in-grid-nav-primary {
      float: none;
      width: 100%;
      padding: 0;
    }

    .in-grid-nav-primary ul {
      margin: 0;
    }
    .in-grid-nav {


      a {
        margin: 0;
        font-size: 17px;
        font-size: 1.7rem;
        line-height: 1.2;
        padding: 4px;
        border-bottom: 3px solid #fff;
      }

      .menu-item:hover,
      a:hover,
      a:focus,
      .current-menu-item > a,
      .sub-menu .current-menu-item > a:hover,
      .sub-menu .current-menu-item > a:focus  {
        background-color: $color_front_nav_bg;

      }

      .menu-item {
        display: block;
        text-align: center;
        width: 100%;
      }

      & > .menu-item:first-child > a {
        margin: 0;
      }

      & > .menu-item:last-child > a {
        border-bottom: none;
      }

      .menu-item:hover > .sub-menu{
        position: relative;
        opacity: 1;
        width: 100%;
      }

      .sub-menu {
        display: none;
        width: 100%;
        left: auto;
        opacity: 1;
        position: relative;
      }

      .sub-menu a {
        width: 100%;
        background-color: $color_front_nav_sub;
      }
      .menu-item-has-children > a {
        position: relative;
      }
      .menu-item-has-children:hover > a:after {
        content: '';
        position: absolute;
        bottom: -8px;
        z-index: 9999;
        font-size: 2rem;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid $color_front_nav_bg;
        left: 50%;
        transform: translateX(-50%);
      }

    }
  }

  @media(max-width: $screen-md-min) {
    .home .site-header {
      display: block;
    }

    .front-grid {
      padding: 0 15px 0 15px;
    }
  }

/*  Front page Pullout
------------------------------------------------------------------------------------------ */
.home {
.pullout {
 // position: relative;
 // z-index: -1;
  padding-top: 40px;
  //transform: translate3d(0, -100%, 0);
  display:none;
   ul {
     text-align: center;
     margin-left: 0;
   }
   li {
    list-style-type: none;
    display: inline-block;
    width: 14.12%;
    margin-left: 5.5%;
     vertical-align: top;
     position: relative;

    img {
      width: 100%;
      border: 3px solid #fff;
      image-rendering: -moz-crisp-edges;         /* Firefox */
      image-rendering:   -o-crisp-edges;         /* Opera */
      image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
      image-rendering: crisp-edges;
      -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
    }
     &:first-child {
       margin-left: 0;
     }

     a {
       text-decoration: none;
       color: #fff;
     }
     a:hover {
       color: $color_black;
     }

  }
  .swiper-lazy-preloader {
    opacity: 0;
  }
  .swiper-lazy-preloader.active {
    opacity: 1;
  }
}
}

@media (max-width: $screen-sm-max) {
  .home {
    .pullout {
      li {
        margin-top: 30px;
        width: 25%;
      }
    }
  }
}
/* Pull out Popup
--------------------------------------------------------------------------------------- */
.pullout-popup-title {
  text-align: center;

}
.pullout-popup-link {
  text-align: center;
  margin: 1rem;
}

.pullout-popup {
  h2 {
    text-align: center;
    font-size: 30px;
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  h3 {
    text-decoration: none;
    color: #fff;
  }
  .btn {
    margin-top: 2rem;
    white-space: normal;
}
}
img.image-vertical {
  width: 60% !important;
}
@media screen and ( max-width: 1666px ) {
.home .pullout-popup li {
width: 35%;
margin-bottom: 4rem;
}

}
@media screen and ( max-width: 768px ) {
.home .pullout-popup li {
width: 60%;
margin-bottom: 4rem;
}

}

/* Client Portal
------------------------------------------------------------------------------------- */

.client-portal-section {
  margin: 15px 0 15px 0;
  padding: 0;
  position: relative;
  z-index: 10;
  overflow: visible;
}

.client-portal-container {
  transition: margin 0.5s ease-in-out;
  position: absolute;
  left:0;
  top:0;
  bottom: 0;
  right: 0;
  overflow: visible;
  margin-left: 0;

  &.showing {
    margin-left: -260px;
  }
}


.client-portal-title-bar {
  background-color: $color_client_portal_bg;
  border-left: 3px solid $color_client_portal_border;

  position: relative;
  font-size: 3rem;
  line-height: 1;
  height: 100%;
  width: 120px;
  overflow:visible;

  span {
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    width: 300px;
    line-height: 1;
    position: absolute;
    top: 42%;
    //transform: translateY(-70%);

    a {
      display:inline-block;
      transform-origin: 25% 50%;
      transform: rotate(90deg);
      color: $color_client_portal;
      text-decoration: none;
      font-size: 3rem;
    }
  }
  .cpb {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    background-image: url(../images/button.png);
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    background-size: contain;
  }
}
.client-portal-content {

 position:absolute;
  background-color: $color_client_portal;
  top: 0;
  bottom: 0;
  left: 120px;
  width: 260px;
  & > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60%, -50%);

  }
}

.client-portal-cover {

	position: absolute;
	left: 120px;
	background: #fff;
	bottom: 0;
	top: 0;
	width: 300px;
}
