/* Responsive Menu */

button.sub-menu-toggle,
button.menu-toggle {
  display: none;
  visibility: hidden;
  background: transparent !important;
  color: transparent;
}



@include media('<mobileMenu') {

  button.sub-menu-toggle,
  button.menu-toggle {
    display: block;
    visibility: visible;
  }

  .nav-primary,
  .nav-primary .sub-menu,
  .nav-secondary,
  .nav-secondary .sub-menu {
    width: 100%;
    display: none;
  }

  button.menu-toggle {
    display: block;
    float: right;
    background: none;
    padding:0;
    overflow: hidden;
    width: 3rem;
    height: 3rem;
    position: relative;
  }

  button.menu-toggle:hover,
  button.menu-toggle:active,
  button.menu-toggle:focus,
  button.sub-menu-toggle:hover,
  button.sub-menu-toggle:active,
  button.sub-menu-toggle:focus {
    box-shadow: none;
  }

  button.menu-toggle:before {
    position: absolute;
    color: #1a1a1a;
    top: 0;
    left:0;
    display: inline-block;
    font-size: 3rem;
    margin: 0 auto;
    padding: 0;
    width: 3rem;
    height: 3rem;
  }

  button.menu-toggle.activated::before {
    content: "\f158";
    right: 1.5rem;
  }

  button.sub-menu-toggle {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    padding: 0 1.25rem 0;
  }

  button.sub-menu-toggle:before {
    color: #1a1a1a;
    font-size: 16px;
    padding: 14px 5px 14px;
    cursor: pointer;
  }

  button.sub-menu-toggle.activated:before {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .nav-primary .genesis-nav-menu li,
  .nav-primary .genesis-nav-menu li:hover {
    width: 100%;
    position: relative;
  }

  .nav-primary .genesis-nav-menu > li:first-child {
    margin-top: 20px;
  }

  .nav-primary .genesis-nav-menu li .sub-menu {
    margin: 0 0 0 24px;
    width: calc( 100% - 24px );
  }

  .nav-primary .genesis-nav-menu a {
    margin: 0 4rem 0 0;
    padding: 1rem 0;
  }

}

@media only screen and (min-width: 800px) {

  .nav-primary {
    text-align: right;
  }

  .bg-primary .nav-primary {
    padding-bottom: 22px;
  }

  .nav-primary .genesis-nav-menu > li > a {
    margin: 0 0 0 24px;
    padding: 3rem 0;
  }

  .nav-primary .genesis-nav-menu > li.left {
    float: left;
  }

  .nav-primary .genesis-nav-menu > li.menu-item-has-children > a:after {
    top: 18px;
  }
}

@media only screen and (min-width: 1100px) {

  .nav-primary .genesis-nav-menu > li > a {
    margin: -2px 0 0 36px;
  }
}
