
/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */
/* ## prevent horizontal scroll
------------------------------------------------ */
html {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  overflow-x: hidden;
}
/* ## Site Containers
--------------------------------------------- */

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; //sticky footer;
}

.wrap {
  margin: 0 auto;
  max-width: $max_screen_width;
  padding-left: $wrap-padding;
  padding-right: $wrap-padding;
}

.site-inner {
  flex: 1 0 auto;  //grow if needed for sticky footer;  '0 auto' added as IE11 fix.
  clear: both;
  padding-top: to-em(60px);

}

/* # Content-Sidebar-Wrap structure
* We have styles for full width or content-sidebar
-------------------------------------------- */

.content-sidebar-wrap {
  display: flex;
  flex-direction: column;

  & > aside {
    padding-left: 0;
  }

}

@include media('>tablet') {
  .content-sidebar-wrap {
    flex-direction: row;

    & > main {
      flex: 1;  //grow if needed
    }

    & > aside {  // sidebar
      flex-basis: 25%;
      padding-left: $sidebar-gutter;

    }
  }
}
/* # Full width container - allow background to move outside of wrap
--------------------------------------------------------------------- */

// Fix for scrollbar - .wrap within a .full-width container and a .wrap outside would not line up if the vert scrollbar was present
// determined vw is calculated including the scrollbar width.  Adding this margin to html fixes that
// Update: this breaks when using sticky elements (fixed).

html { margin-left: calc(100% - 100vw); }

.full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: auto;
  max-width: 1000%;
}

// if sidebar then cannot use full-width on screens > tablet
@include media('>tablet') {
  .content-sidebar .full-width {
    margin-left: inherit;
    margin-right: inherit;
    width: 100%;

    & > .wrap {
      padding-right: inherit;
      padding-left: inherit;
    }
  }
}