/* Colors
------------------------------------ */

$color_gold:        #f9a01b;
$color_orange:      #f26122;
$color_magenta:     #ec008c;
$color_violet:      #ab4a9c;
$color_blue:        #0066a6;
$color_cyan:        #00aeef;
$color_green:       #39b45a;

$color_warm_gray:   #8e8279;
$color_black:       #000000;
$color_gray:        #e7e7e7;

$btn-default-bg: $color_blue;
$btn-primary-bg: $color_orange;
$btn-success-bg: $color_green;
$btn-info-bg: $color_violet;
$btn-warning-bg: $color_gold;

$btn-default-color: #fff;
$btn-primary-color: #fff;
$btn-success-color: #fff;
$btn-info-color: #fff;
$btn-warning-color: #fff;
$btn-danger-color: #fff;

$btn-border-radius-base: 0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;


/* Typography
------------------------------------- */

$font_mbempire_book: 'mb_empire_bookregular', sans-serif;



/* sizing
------------------------------------- */

$max_screen_width: 1700px;

$screen-sm-min:              500px;

/* margins
------------------------------------- */

$p_bottom_margin: 2.8rem;