/* Colors
------------------------------------ */

$color-gold:        #f9a01b;
$color-orange:      #f26122;
$color-magenta:     #ec008c;
$color-violet:      #ab4a9c;
$color-blue:        #0066a6;
$color-cyan:        #00aeef;
$color-green:       #39b45a;

$color-warm_gray:   #8e8279;
$color-black:       #000000;
$color-white:       #ffffff;
$color-gray:        #e7e7e7;

$btn-default-bg: $color_blue;
$btn-primary-bg: $color_orange;
$btn-success-bg: $color_green;
$btn-info-bg: $color_violet;
$btn-warning-bg: $color_gold;

$btn-default-color: #fff;
$btn-primary-color: #fff;
$btn-success-color: #fff;
$btn-info-color: #fff;
$btn-warning-color: #fff;
$btn-danger-color: #fff;

$btn-border-radius-base: 0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;

$color-default: $color-black;
$background-default: $color-white;
$color-anchor-default: $color-blue;
$color-border-default: #dddddd;

/* Typography
------------------------------------- */

$font-default: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$line-height-default: 1.625;

$font_mbempire_book: 'mb_empire_bookregular', sans-serif;

$global-font-size: 16px;



/* sizing
------------------------------------- */

$max_screen_width: 1500px;

$screen-xs-min:              576px;
$screen-sm-min:              768px;
$screen-md-min:              992px;
$screen-lg-min:             1200px;

/* margins
------------------------------------- */

$p_bottom_margin: 2.8rem;