
/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
  font-size: 1rem;
}

.sidebar li {
  margin-bottom: to-em(10px);
  padding-bottom: to-em(10px);
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
  margin-bottom: 0;
}

.sidebar .widget {
  margin-bottom: to-em(60px);
}
