
/* # Media Queries
---------------------------------------------------------------------------------------------------- */


@include mq($from: $screen-xs-min, $type: screen) { //576px

  $sidespacing: 25px;

  .wrap {
   // max-width: to-em($screen-xs-min);
    padding-left: to-em($sidespacing);
    padding-right: to-em($sidespacing);

  }

  .genesis-nav-menu a,
  .genesis-nav-menu > .first > a,
  .genesis-nav-menu > .last > a {
    padding: to-em(20px) to-em(16px);
  }

  .site-header .search-form {
    margin: to-em(16px) auto;
  }
}


@include mq($from: $screen-sm-min, $type: screen) { //768px

  $sidespacing: 30px;

  .wrap {

    padding-left: to-em($sidespacing);
    padding-right: to-em($sidespacing);

  }

  .site-header .title-area {
    float: left;
    text-align: left;
  }
  .site-header .search-form {
    float: right;
    text-align: left;
  }
  .site-description, .site-title {
    text-align: left;
  }
  .header-image .site-title > a {
    float: left;
  }

  .title-area {
    width: 40%; //to-em( ($screen-sm-min - $sidespacing * 2) * 0.4 )
  }

  .site-header .widget-area {
    float: right;
    text-align: right;
    width: 60%; //to-em( ($screen-sm-min - $sidespacing * 2) * 0.6 )
  }
}

@include mq($from: $screen-md-min, $type: screen) { //992px

  $sidespacing: 40px;

  .wrap {
    padding-left: to-em($sidespacing);
    padding-right: to-em($sidespacing);

  }

  .content-sidebar-sidebar .content-sidebar-wrap,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-sidebar-content .content-sidebar-wrap {
    width: 75%; //to-em( $screen-md-min - $sidespacing * 2);

  }

  .content-sidebar-sidebar .content-sidebar-wrap {
    float: left;
  }

  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-sidebar-content .content-sidebar-wrap {
    float: right;
  }

  .content {
    float: right;
    width: 65%; //to-em( ($screen-md-min - $sidespacing * 2) * 0.6);
    background-color: #ddd;
  }
  //.full-width .content  is already defined at 100% and will override above

  .sidebar-content .sidebar-primary,
  .sidebar-sidebar-content .sidebar-primary {
    float: left;
  }
  .content-sidebar .content,
  .content-sidebar-sidebar .content,
  .sidebar-content-sidebar .content {
    float: left;
  }

  .sidebar-content-sidebar .content,
  .sidebar-sidebar-content .content,
  .content-sidebar-sidebar .content {
    width: 55%; //to-em( ($screen-md-min - $sidespacing * 2))
  }

  .sidebar-primary {
    float: right;
    width: 30%; //to-em( ($screen-md-min - $sidespacing * 2) * 0.4);
    background-color: #aaa;
  }
  .sidebar-secondary {
    float: left;
    width: 25%;
    background-color: #bbb;
  }

  .content-sidebar-sidebar .sidebar-secondary {
    float: right;
  }

  /* NAV */

  .genesis-nav-menu .sub-menu {
    position: absolute;
    width: to-em(210px, $global-font-size);
    border-top: 1px solid $color-border-default;
  }
  .genesis-nav-menu .sub-menu {

    left: -9999px;
    opacity: 0;
  }

  .genesis-nav-menu .sub-menu a {
    border: 1px solid $color-border-default;
    border-top: 0;
    width: to-em(210px);
  }

  .genesis-nav-menu .menu-item:hover {
    position: static;
  }


  .genesis-nav-menu .menu-item:hover > .sub-menu {
    left: auto;
    opacity: 1;
  }


}

$sidespacing: 40px;

@include mq($from: $screen-lg-min, $type: screen) {  //1200px

  .wrap {
    padding-left: to-em($sidespacing);
    padding-right: to-em($sidespacing);

  }


}


@include mq($from: ($max_screen_width + 2 * $sidespacing) , $type: screen) {

  .wrap {
    max-width: $max_screen_width;
    padding-left: 0;
    padding-right: 0;

  }
}
