
/* # Media Queries
---------------------------------------------------------------------------------------------------- */


@include mq($from: $screen-xs-min, $type: screen) { //576px


  .genesis-nav-menu a,
  .genesis-nav-menu > .first > a,
  .genesis-nav-menu > .last > a {
    padding: to-em(20px) to-em(16px);
  }

  .site-header .search-form {
    margin: to-em(16px) auto;
  }
}


@include mq($from: $screen-sm-min, $type: screen) { //768px


  .site-header .title-area {
    float: left;
    text-align: left;
  }
  .site-header .search-form {
    float: right;
    text-align: left;
  }
  .site-description, .site-title {
    text-align: left;
  }
  .header-image .site-title > a {
    float: left;
  }

  .title-area {
    width: 40%; //to-em( ($screen-sm-min - $sidespacing * 2) * 0.4 )
  }

  .site-header .widget-area {
    float: right;
    text-align: right;
    width: 60%; //to-em( ($screen-sm-min - $sidespacing * 2) * 0.6 )
  }
}

@include mq($from: $screen-md-min, $type: screen) { //992px



  /* NAV */

  .genesis-nav-menu .sub-menu {
    position: absolute;
    width: to-em(210px, $global-font-size);
    border-top: 1px solid $color-border-default;
  }
  .genesis-nav-menu .sub-menu {

    left: -9999px;
    opacity: 0;
  }

  .genesis-nav-menu .sub-menu a {
    border: 1px solid $color-border-default;
    border-top: 0;
    width: to-em(210px);
  }

  .genesis-nav-menu .menu-item:hover {
    position: static;
  }


  .genesis-nav-menu .menu-item:hover > .sub-menu {
    left: auto;
    opacity: 1;
  }


}

