
/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
  min-height: 160px;
  border-bottom: 1px solid $color-border-default;
}

.site-header .wrap {
  padding-top: to-em(20px);
  padding-bottom: to-em(20px);
}

/* ## Title Area
--------------------------------------------- */

.title-area {
  padding: 10px 0;

}

.header-full-width .title-area {
  width: 100%;
}

.site-title {
  font-size: 30px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.header-image .site-title > a {
  background: url(images/logo.png) no-repeat left;
  background-position: center top;

  min-height: 60px;
  width: 100%;
}

.site-description {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;

}

.site-description,
.site-title {
  margin-bottom: 0;
  text-align: center;
}

.header-image .site-description,
.header-image .site-title a {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
  text-align: center;
}

