
/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */


.wrap {
  margin: 0 auto;

  padding-left: 5%;
  padding-right: 5%;
}

.site-inner {
  clear: both;
  padding-top: to-em(60px);

}


/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  width: 100%;
 // width: to-em( 980px / 1200px * $max_screen_width );
}

/* ### Content */

.content {

  width: 100%
  //width: to-em( 780px / 1200px * $max_screen_width ) ;
}

.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
  width: 100%;
  //width: to-em( 580px / 1200px * $max_screen_width );
}

.full-width-content .content {
  width: 100%;
}

/* ### Primary Sidebar */

.sidebar-primary {
  width: 100%;
 // width: to-em( 360px / 1200px * $max_screen_width );
}


/* ### Secondary Sidebar */

.sidebar-secondary {
  width: 100%;
 // width: to-em( 180px / 1200px * $max_screen_width );
}
