
/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; //sticky footer;
}

.wrap {
  margin: 0 auto;
  max-width: $max_screen_width;
  padding-left: $wrap-padding;
  padding-right: $wrap-padding;
}

.site-inner {
  flex: 1 0 auto;  //grow if needed for sticky footer;  '0 auto' added as IE11 fix.
  clear: both;
  padding-top: to-em(60px);

}

/* # Content-Sidebar-Wrap structure
* We have styles for full width or content-sidebar
-------------------------------------------- */

.content-sidebar-wrap {
  display: flex;
  flex-direction: column;

  & > aside {
    padding-left: 0;
  }

}

@include media('>tablet') {
  .content-sidebar-wrap {
    flex-direction: row;

    & > main {
      flex: 1;  //grow if needed
    }

    & > aside {  // sidebar
      flex-basis: 25%;
      padding-left: $sidebar-gutter;

    }
  }
}



